* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --redColor: #e12d2d;
}

.df {
    display: flex;
}

.f1 {
    flex: 1;
    border-right: 1px solid #ccc;
}

.f2-sort {
    flex: 2;
    border-right: 1px solid #ccc;
    padding: 20px;
    cursor: pointer;
}

.f2-sort:hover {
    color: rgb(1, 148, 243);
    font-weight: 600;
}

.flights-list-body {
    display: flex;
    margin-top: 20px;

}

.flights-list-body .flights-filter {
    flex: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.flights-list-body .flights-filter .title {
    font-weight: 700;
}

.flights-list-body .flights-list {
    flex: 8;
    padding-left: 20px;
    padding-right: 10px;

}

.flight-item-container {
    min-height: 211px;
    width: 800px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-bottom: 10px;
}

.flight-item {
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    align-items: center;
}

.flight-item__airlines,
.flight-item__price {
    flex: 3
}

.flight-item__info {
    flex: 6;
    display: flex;
    justify-content: space-around;
}

.arrival-time,
.depart-time {
    font-size: 22px;
    font-weight: 600;
}

.depart-place {
    text-align: right;
}

.diff-time {
    margin: 0 20px;
}

.diff-time i,
.diff-time span .diff-time p {
    text-align: center;
    opacity: 0.7;
}

.flight-item__price {
    margin-left: 30px;
}

.price-container {
    text-align: right;
}

.flight-item__price .sale {
    background-color: var(--redColor);
    color: white;
    padding: 5px;
    font-size: 13px;
}

.old-price {
    text-decoration: line-through;
}

.current-price {
    color: var(--redColor);
    font-size: 24px;
    font-weight: 500;
}

.price-desc {
    opacity: 0.7;
    font-size: 12px;
}

.flight-detail {
    display: flex;
    padding: 20px
}

.flight-detail-time {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flight-detail-time div {
    font-weight: 600;
}

.flight-detail-info {
    flex: 8;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.flight-detail-link {
    color: blue;
    cursor: pointer;
}

.plane-detail span {
    opacity: 0.7;
    font-size: 12px;
}

.flight-detail-info .airport {
    font-weight: 600;
}

.flight-detail-2 {
    display: flex;
}

.flight-detail-2 .price-detail,
.flight-detail-2 .condition {
    flex: 1
}

.flight-detail-2 .title {
    font-weight: 700;
}

.flight-detail-2 .policy {
    color: rgb(0, 135, 90);
    font-weight: 600;
}

.price-calculate .people-price-row,
.price-calculate .tax,
.price-calculate .total-price {
    display: flex;
    justify-content: space-between;
}

.price-calculate .people-price-row {
    font-weight: 600;
}

.grey-color {
    opacity: 0.7;
}

.flight-detail-3 {
    display: flex;
}

.flight-detail-3 .refund-sub-nav {
    flex: 3;
    margin-right: 20px;
    margin-top: 45px;
}

.flight-detail-3 .refund-content {
    flex: 7;
}

.reschedule-title,
.refund-sub-nav .refund-item-title {
    border: 1px solid rgb(1, 148, 243);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: rgb(1, 148, 243);
    font-weight: 700;
    font-size: 14px;
    box-shadow: 3px 3px 1px #aaaaaa;
    cursor: pointer;
}

.reschedule-body .title,
.refund-content .title {
    font-weight: 700;
    margin-bottom: 20px;
}

.refund-detail {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.reschedule-result,
.refund-result {
    margin-top: 10px;
    padding: 15px;
    padding-left: 20px;
    background-color: rgba(247, 249, 250, 1.00);
    color: #0cc176;
    font-weight: 700;
    font-size: 18px;
}

.reschedule-policy,
.refund-reason {
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
}

.flight-detail-4 {
    display: block;
}

.reschedule-body {
    display: flex;
    margin-top: 15px;
}

.reschedule-sub-nav {
    flex: 3;
    margin-right: 30px;
    margin-top: 45px;
}

.reschedule-content {
    flex: 7;
}

.success-color {
    color: #0cc176;
}

.reschedule-option {
    display: flex;
    justify-content: space-between;
}

.flight-detail-link-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.flight-detail-link-container span {
    margin-right: 10px;
    color: rgb(1, 148, 243);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.detail-links {
    width: 400px;
}

.info-box {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-right: 44px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}


/* short info: top nav */
.short-inf {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: #20274d;
    z-index: 999;
}

.short-inf .inf-form {
    display: flex;
    padding-top: 6px;
    justify-content: space-evenly;
}



.date-inf,
.class-type-container {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}

.date-inf {
    width: 365px;
}

.class-type-container {
    width: 60px;
}

.inf-form #place-search,
.date-inf #date-from,
.quantity #quantity__person,
.date-inf #date-to,
.class-type-container {
    padding-left: 12px;
    height: 48px;
    width: 260px;
    border-radius: 5px;
    font-size: 18px;
}


.class-type-container {
    width: 110px;
}

.class-type-container input {
    width: 95%;
}

.inf-form #place-search {
    width: 110px;
}

.date-inf #date-from,
.date-inf #date-to {
    width: 180px;
}

.quantity #quantity__person {
    width: 310px;
}

.inf-form .search-btn {
    height: 48px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(83, 146, 249);
    color: white;
    font-size: 18px;
}