<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm khách sạn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/create-hotels/add-hotels.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div id="nav">
        <a href="/" style="text-decoration: none; color: black">
            <div class="logo">
                <img src="/image/site/logo-2.png" alt="" class="ml-4" style="height: 55px; margin-bottom: 8px;">
                HERE WE GO
            </div>
        </a>
        <div class="user-profile">
            <div class="" style="display: flex;">
                <!-- <i class="ti-id-badge"></i> -->
                <% if(userInfo) {%>

                    <a href="/user-info" style="text-decoration: none; color: black">
                        <div class="btn">
                            <span style="font-size: 20px">
                                <%= userInfo.user.username%>
                            </span>
                        </div>
                    </a>
                    <%} else {%>
                        <a href="/signin" style="color: #000; font-size: 16px; margin-right: 15px">Đăng nhập</a>
                        <a href="/signup" style="color: #000; font-size: 16px">Đăng ký</a>

                        <%}%>
            </div>
        </div>
    </div>
    <div class="main container" style="margin-top: 60px; padding-top: 60px">
        <form method="POST" action="post-add-hotels">
            <h4 class="text-center">THÊM KHÁCH SẠN CỦA TÔI</h4>
            <div class="form-group">
                <label for="hotel-name">
                    <h6>Tên khách sạn</h6>
                </label>
                <input type="text" class="form-control" id="hotel-name" name="tenKS"
                    placeholder="Nhập tên khách sạn"><br>

                <div class="df">
                    <div class="f1">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                <h6>Loại hình nhà ở</h6>
                            </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="loaiHinh">
                                <option value="khach san">Khách sạn</option>
                                <option value="nha nghi">Nhà nghỉ</option>
                                <option value="nha nghi">Nhà khách</option>
                                <option value="resort">Resort</option>
                                <option value="f&b">F&B</option>
                                <option value="khac">Khác</option>
                            </select>
                        </div>
                    </div>
                    <div class="f1">
                        <label for="hotel-name">
                            <h6>Hạng sao</h6>
                        </label>
                        <select class="form-control" id="exampleFormControlSelect1" name="hangSao">
                            <option value="">-- Chọn hạng sao --</option>
                            <option value="5">5</option>
                            <option value="4.5">4.5</option>
                            <option value="4">4</option>
                            <option value="3.5">3.5</option>
                            <option value="3">3</option>
                            <option value="2.5">2.5</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                            <option value="0">Chưa xếp hạng</option>
                        </select>
                    </div>
                </div>

                <div class="df">
                    <div class="f1">
                        <label for="">
                            <h6>Tỉnh</h6>
                        </label>
                        <input type="text" class="form-control" id="" name="tenTinh" placeholder="VD: Đà Nẵng"><br>

                    </div>
                    <div class="f1">
                        <label for="">
                            <h6>Khu vực</h6>
                        </label>
                        <input type="text" class="form-control" id="" name="tenKV" placeholder="VD: Hải Châu"><br>

                    </div>
                    <div class="f1">
                        <label for="">
                            <h6>Địa chỉ chi tiết</h6>
                        </label>
                        <input type="text" class="form-control" id="" name="diaChiChiTiet"
                            placeholder="VD: 123 Hải Châu, Đà Nẵng"><br>
                    </div>

                </div>

                <label for="">
                    <h6>Hình ảnh về khách sạn</h6>
                </label>
                <input type="text" class="form-control" id="" name="linkAnh" placeholder="Nhập link ảnh"><br>

            </div>

            <button type="submit" class="btn btn-primary">Thêm khách sạn</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>